.eating {
    width: 90%;
    margin: 3% auto;
    text-align: center;
}

/* 検索 */
.eating-top {
    display: flex;
}
.search{
    margin-left: 7%;
}
.search-select {
    cursor: pointer;
    width: 130%;
    box-shadow: 2px 2px 1px rgb(243, 134, 134);
    border: none;
    padding: 6%;
}
.title {
    box-shadow: 2px 2px 1px rgb(243, 134, 134);
    width: 30%;
}
.search-input {
    border: none;
    width: 85%;
    padding: 2%;
}

/* 一覧 */
.eating-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    max-height: 600px;
    overflow-y: auto;
}
.eating-cards-link {
    text-decoration: none;
    width: 18%;
    margin: 1% auto;
    text-align: center;
    box-shadow: 2px 2px 1px rgb(243, 134, 134);
}
.photo {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ttl {
    padding: 1% 2%;
}
.ttl-title {
    color:rgb(163, 93, 177);
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 130%;
    font-weight: bold;
}

/* 投稿 */
.not {
    margin: 14% auto;
    text-align: center;
}
.not-search {
    color: rgb(0, 173, 153);
    font-size: 20px;
}
.eating-foot {
    width: 60%;
    margin: 4% auto 7%;
}
.tweet {
    background-color: skyblue;
    border-radius: 5px;
    padding: 1% 4%;
    box-shadow: 2px 2px gray;
    font-weight: bold;
    border: none;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}
.tweet-link {
    text-decoration: none;
    color: #000;
}
.tweet:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
}

@media screen and (max-width:1000px) {
    .eating-cards-link {
        width: 23%;
    }
}
@media screen and (max-width:800px) {
    .eating-cards-link {
        width: 31%;
    }
    .search-select {
        width: 100%;
        font-size: 10px;
    }
    .title {
        width: 25%;
    }
    .search-input {
        font-size: 10px;
        width: 80%;
        vertical-align: 3px;
    }
}
@media screen and (max-width:600px) {
    .eating-cards-link {
        margin: 2% auto;
        width: 45%;
    }
}
@media screen and (max-width:476px) {
    .search{
        margin-left: 4%;
    }
    .search-select {
        font-size: 7px;
    }
    .title {
        width: 40%;
    }
    .search-input {
        font-size: 7px;
    }
}
@media screen and (max-width:450px) {
    .eating-cards-link {
        margin: 2% auto;
        width: 60%;
    }
}