.detail {
    width: 80%;
    margin: 0 auto;
}

/* バック */
.back {
    margin-top: 3%;
}
.fa-arrow-left {
    font-size: 30px;
    padding: 1% 2%;
    background-color: rgb(255, 228, 228);
    color: rgb(240, 60, 60);
}
.fa-arrow-left:hover {
    background-color: rgb(249, 181, 181);
}

/* 画像 */
.detail-img {
    width: 90%;
    height: 650px;
    overflow: hidden;
    margin: 3% auto 0;
    box-shadow: 5px 5px 3px rgb(243, 134, 134);
    position: relative;
}
.detail-img__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Food-inner */
.detail-inner {
    width: 90%;
    margin: 0 auto;
}

/* Foodの情報 */
.food {
    margin: 5% 0;
}
.food-title {
    font-weight: bold;
    text-align: center;
}
.food-title__ttl {
    font-size: 25px;
    margin-bottom: 0;
}
.food-inner {
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.food-inner__area {
    margin-right: 3%;
    padding: 1% 2%;
}
.food-inner__genre {
    margin-left: 3%;
    padding: 1% 1%;
}
.food-text {
    width: 85%;
    margin: 0 auto;
}
.food-text__content {
    text-align: center;
    line-height: 130%;
    letter-spacing: 3px;
}
.fa-arrow-left,
.food-inner__area,
.food-inner__genre {
    box-shadow: 3px 3px 2px rgb(243, 134, 134);
}

/* ユーザー情報 */
.card-user {
    display: flex;
    margin: 2% auto 8%;
    width: 40%;
    justify-content: center;
    padding: 3%;
    box-shadow: 3px 3px 2px rgb(243, 134, 134);
}
.icon {
    width: 30%;
}
.fa-user {
    font-size: 370%;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 10% 15%;
    background-color: rgb(213, 213, 141);
}
.card-user__top {
    width: 70%;
    margin: 0;
    text-align: center;
}
.name-time {
    margin-top: 4%;
}
.card-user__top-name {
    font-weight: bold;
    margin-right: 3%;
}
.card-user__top-time {
    color: rgb(196, 194, 194);
}
.card-user__profile {
    margin-top: 3%;
}
.card-user__profile-age {
    margin-left: 15%;
    margin-right: 4%;
}
.card-user__profile-age,
.card-user__profile-gender {
    color: rgb(196, 194, 194);
}
.name-time,
.card-user__profile {
    width: 100%;
}

@media screen and (max-width:1000px) {
    .name-time {
        display: flex;
        flex-direction: column;
    }
    .card-user__top-name {
        text-align: left;
        margin-left: 10%;
    }
    .card-user__top-time,
    .card-user__profile-age,
    .card-user__profile-gender {
        font-size: 13px;
    }
    .card-user__profile-age {
        margin-left: 0;
    }
    .card-user__profile {
        margin-top: 1%;
    }
}
@media screen and (max-width:850px) {
    .back {
        margin: 4% 0;
    }
    .detail-img {
        width: 95%;
        height: 400px;
    }
    .card-user {
        width: 60%;
    }
}
@media screen and (max-width:600px) {
    .back {
        margin: 5% 0;
    }
    .detail-img {
        width: 100%;
        height: 300px;
    }
    .card-user {
        width: 80%;
    }
}