.recruiting {
    width: 100%;
}
.recruiting-form {
    width: 70%;
    margin: 5% auto;
    text-align: center;
}
.recruiting-form__post {
    cursor: pointer;
    background-color: skyblue;
    border-radius: 5px;
    padding: 1% 4%;
    box-shadow: 2px 2px gray;
    font-weight: bold;
    color: #000;
    width: 15%;
    margin-bottom: 7%;
    margin-left: 40%;
}
.recruiting-form__post:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
}
.fa-circle-right {
    margin-left: 3%;
}
.recruiting-place__day,
.recruiting-place__stay,
.recruiting-place__distance,
.recruiting-place__destination {
    margin-bottom: 2%;
}
.recruiting-place__day-ttl,
.recruiting-place__stay-ttl,
.recruiting-place__distance-ttl,
.recruiting-place__destination-ttl {
    font-weight: bold;
}
.destination {
    width: 50%;
    padding: 1% 2%;
}
.recruiting-form__inner-tweet {
    width: 60%;
    padding: 2%;
    line-height: 20px;
}
.error-message {
    color: rgb(0, 149, 27);
    margin-top: 1%;
}

@media screen and (max-width:1170px) {
    .recruiting-form__post {
        width: 25%;
    }
}